.banner img {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 5px 5px rgba(255, 193, 7, 0.5);
}
img:hover {
  opacity: 0.5;
}
.jumbotron hr {
  width: 250px;
  border-top: 5px solid var(--main-fn);
  opacity: 1;
}
.jumbotron {
  width: 100%;
  min-height: 0;
  margin-top: -5rem;
  overflow: auto;
}
.jumbotron a {
  text-decoration: none;
  color: white;
}
.jumbotron a:hover {
  color: var(--main-fn);
}
.banner {
  position: relative;
  display: flex;
  justify-content: center;
}
.profile hr {
  width: 250px;
  opacity: 1;
  border-top: 5px solid;
}
.profile a {
  text-decoration: none;
  color: white;
}

.profile i {
  /* font-size: 150px; */
  font-size: 5rem;
  transition: 0.25s;
}
.profile i:hover {
  color: var(--main-fn);
  cursor: pointer;
  /* font-size: ; */
}

.left-side {
  border-right: 3px dashed white;
}
@media (max-width: 992px) {
  .banner img {
    width: 15rem;
    height: 15rem;
  }
  .left-side {
    border: none;
  }
  .profile i {
    font-size: 2rem;
  }
}

.ungu {
  color: rgb(145, 0, 242);
}
.my-skill img {
  width: 100px;
  margin-bottom: 5px;
}
