body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "cuy-font";
  src: url(../public/Bai_Jamjuree/BaiJamjuree-Bold.ttf) format(truetype);
}
@font-face {
  font-family: "sidebar-cuy";
  src: url(../public/BebasNeue-Regular.ttf) format(truetype);
}
:root {
  --main-fn: #ffc107;
}
.main-content .humberger {
  display: none;
}
@media (max-width: 992px) {
  .main-content .humberger {
    display: inherit;
  }
}
